{% extends 'base.html' %}
{% block title %} Welcome {% endblock %}
{% block headmessage %} <h3 style='font-family: Calibri;'>Machine List</a>
{% endblock %}
{% block content %}
		<p style='font-family':Calibri;font-size:16pt;font-weight:bold;'>
			<a href='/job/am000'>AM000</a>
		</p>
		<p style='font-family':Calibri;font-size:16pt;font-weight:bold;'>
			<a href='/job/am004'>AM004</a>
		</p>
		<p style='font-family':Calibri;font-size:16pt;font-weight:bold;'>
			<a href='/job/am005'>AM005</a>
		</p>
{% endblock %}

